.container {
  background: hsla(0, 50%, 100%, 0.7);
}

#search-input {
  padding: 0 8px 1px 8px;
  height: 32px;
  border-radius: 15px;
}

.site-bookmark-ul {
  padding-left: 0;
  margin-top: 7.5px;
}

.site-bookmark-li {
  margin-top: 7.5px;
  list-style: none;
}

.site-bookmark-a {
  color: #333;
  padding: 0 7.5px;
}

.site-bookmark-a:hover,
.site-bookmark-a:focus,
.site-bookmark-div-focus {
  will-change: filter; /* https://stackoverflow.com/a/59306366/14168341 */
  opacity: 1;
  text-decoration: none;
  /* filter: drop-shadow(2px 2px 3px #888); */
  filter: drop-shadow(1px 2px 8px hsl(0deg 0% 0% / 0.35));
}

.site-bookmark-a:focus,
.site-bookmark-a-focus {
  outline: none;
}

.site-bookmark-a:focus ~ .site-bookmark-a-focus {
  background-color: transparent;
}

.site-bookmark-div {
  display: inline-block;
  margin-right: 4px;
  height: 16px;
  width: 16px;
}
